@font-face {
    font-family: slim;
/*    font-weight:   normal;*/
/*    src: url("/src/fonts/Brasilia/slimjoe.otf") format("opentype");*/
/*    src: url("/src/fonts/Brasilia/BrasiliaExtended.ttf") format("TrueType");*/
/*    src: url("/src/fonts/Brasilia/BrasiliaShort.ttf") format("TrueType");*/
/*    src: url("/src/fonts/Camberra.ttf") format("TrueType");*/
/*    src: url("/src/fonts/Delhi.ttf") format("TrueType");*/
/*     src: url('/src/css/fonts/icomoon.eot?9k5qtz');*/
		
		 
/*		 src: url('/src/fonts/icomoon.eot ') format('truetype');*/
/*	  src: url("/fonts/geomanist-regular-webfont.ttf") format("TrueType");;*/
	  src: url("/fonts/geomanist-regular-webfont.woff") format("woff");;
	 
}
html{
font-family: slim;
color:cornflowerblue;
}
body{margin:0!important;}

#footer{
background-color: black;
width:100%;
color:white;
padding:10px 0px 10px 0px;

}

/*animation*/
 /* WebKit and Opera browsers */
  @-webkit-keyframes spinner {
    0% { -webkit-transform: rotateX(0deg);    }
    30% { -webkit-transform: rotateX(0deg);    }
    100%   { -webkit-transform: rotateX(-360deg); }
  }

  /* all other browsers */
  @keyframes spinner {
    0%  {
      -moz-transform: rotateX(0deg);
      -ms-transform: rotateX(0deg);
      transform: rotateX(0deg);
    }
	 30%  {
      -moz-transform: rotateX(0deg);
      -ms-transform: rotateX(0deg);
      transform: rotateX(0deg);
    }
    100% {
      -moz-transform: rotateX(-360deg);
      -ms-transform: rotateX(-360deg);
      transform: rotateX(-360deg);
    }
  }
#loading-webgl{
display: block;
text-align: left;
margin-left: 10px;
margin-bottom: 5px;
}  
#loading-screen{
z-index:1;
/* animation*/
/*
  margin: 1em auto;
    -webkit-perspective: 1200px;
    -moz-perspective: 1200px;
    -ms-perspective: 1200px;
    perspective: 1200px;
*/

	 
position: absolute;
top:-10vh;
left:0;
text-align: center;
padding-top:60vh;
width:100%;
height:120vh;
background-color: cornflowerblue;
color:white;
font-size: 30px;
display: none;
}
#loading-logo{
/*animation*/

/*
	-webkit-animation-name: spinner;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 1.5s;

    animation-name: spinner;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 1.5s;

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
*/
	 width:30px;
}
#head{
	width:100%;
    background-color: cornflowerblue;
    color: white;
    text-align: center;
    padding: 10px 0px 10px 0px;
    font-size: 29px;
    font-weight: 700;
	     box-shadow: 0px 0px 11px 1px #272727a6;
		  z-index: 10;
		  position: absolute;
		  top:0px;
		  
		  
}
.astrix{
    vertical-align: middle;

}
#blurb, .title{
font-size: 30px;
font-weight: 600;
}
.mini-title{
font-size: 18px;
}
#head span {
font-size: 15px;
}
a{
color:inherit;
}

#webgl{
    background-color: cornflowerblue;
    color: white;
    border-radius: 0;
    width: 116px;
    padding: 5px 0 5px 0;
    font-size: 14px;
	cursor: pointer;
	opacity: 0;
}
#webgl + label {
	 margin-left: 10px;
	 box-shadow: 0px 0px 10px 0px #00000075;
    margin-bottom: 40px;

}
/*
#webgl:hover{
background-color: #4a87f4;

}
*/
#btnSubmit,#stop-button{
	border-style: none;
    width: 116px;
    background-color: cornflowerblue;
    font-weight: 700;
    width: 116px;
    height: 40px;
    /* padding-top: 12px; */
    text-align: center;
    color: white;
    font-size: 16px;
    background-color: cornflowerblue;
    font-family: slim;
	 box-shadow: 0px 0px 10px 0px #00000075;
	 cursor: pointer;
}
.hide-input {
	overflow: hidden;
    position: absolute;
    z-index: -1;
    text-indent: 2426px;
    padding-left: 50px;
    font-size: 14px;
	 outline: none;
}
.hide-data{
width:50px;
}

label {
	 box-shadow: 0px 0px 10px 0px #00000075;

    /* font-size: 1.25em; */
    font-weight: 700;
    width: 116px;
    height: 30px;
    padding-top: 10px;
    text-align: center;
    /* background-color: cornflowerblue; */
    color: white;
    background-color: cornflowerblue;
    display: inline-block;
	 cursor: pointer;
}
label:hover, input[type=submit]:hover,#stop-button:hover{
background-color: #4a87f4;
}

#result-container{
 margin-top: 50px;
/* background-color: black;*/
}
#result{
margin-left: auto;
margin-right: auto;
display: block;

}
h3{
color:cornflowerblue;
}
/*
h2{text-align: center;
background-color: cornflowerblue;
color:white;
padding:5px 0 5px 0;

background: linear-gradient(135deg, rgb(128, 147, 214) 0%,rgb(0, 199, 241) 100%);
;}
*/

#content{padding-top: 44px;margin-top: 87px;}
.process{
margin-left: auto;
margin-right: auto;
margin-top:20px;
width:900px;
max-width: 97vw;
text-align: left;
}
#h3-container{text-align: center; margin-bottom: 123px;}
.process img{ width:100%;margin:10px 0 10px 0;border:4px solid black;}
.center{text-align: center; margin-bottom: 30px;}
.italic{font-style: italic;}
hr{height:2px;background-color: cornflowerblue; width:calc(100vw - 48px);}
#mobile-notice{display: none;font-size: 14px;text-align: center;}
#webgl-container{text-align: center;display:none; margin-bottom: 100px;}
.mobile-img{ width:400px!important; margin-left:auto!important;margin-right:auto!important;display: block;}
#gameContainer{
margin-left: auto!important;
margin-right: auto!important;
    width: 640;
    border: 4px solid black!important;
    padding: 0px;
    margin: 0px;
    /* border: 0px; */
/*    position: relative;*/
    background: rgb(224, 224, 224);
    transform: scale(1.4);
}
#upload{
padding-left: 10px;
}
#stop-button{
display: block;
margin-left: 10px;
}
#webgl-loader{
width:20px;vertical-align: bottom;
}
.section-margin{
margin-top:100px;
}
#layers img {border: none;}
.arrow-down{width:30px!important; margin-left: 100px!important;}

@media only screen and (max-device-width : 640px) {
#webgl-container{display:none;}
#mobile-notice{display: block;}
#webgl{display: none;}
.mobile-img{ width:900px}

label, #btnSubmit {
    font-weight: 700;
    width: 250px;
    height: 80px;
    padding-top: 40px;
    margin-top: 14px;
    text-align: center;
    font-size: 2em;
	 margin-left: 26px;
}
#btnSubmit {
	 margin-left: 26px;

    height: 121px;
	padding-top: 0px!important;
}
label[for="webgl"]
{
    display:none;
}
.hide-input{
    text-indent: 2440px;
    font-size: 30px;
    margin-left: 100px;
	 padding-top:10px;
	 outline: none;
    padding-left: 5px;
	 
}
#upload {
/*    padding-left: 32px;*/
}
#upload h3{
text-align: center;
}
hr{height:2px;background-color: cornflowerblue; width:calc(100vw - 75px);}
#head{
font-size: 2.6em;
padding-bottom: 20px;
padding-top: 20px;
box-shadow: 0px 0px 20px 6px #272727a6;
}
#content{
margin-top: 208px;
}
#blurb, .title{
font-size: 50px;
font-weight: 600;
}
}

